$primary-color: #969696;
$secondary-color: rgb(251, 105, 20);

$background-color: rgb(253, 251, 251);
$color: #fb6914;
$footer-color: #c1c2c261;
$heading-text: #188cc5;
$portfolio-item: #a3a3a3;
$portfolio-list-item: #a3a3a33b;
$portfolio-background-color: #3a3f550d;
$button-hover: $secondary-color;
$nav-link-color: #074683;

$card-form-background-color: #f3f1f2;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-table: 768px;
