$primary-color: rgba(196, 196, 196, 0.149);
$secondary-color: rgba(113, 116, 118, 1);

$body-color: #eaeff2;
$footer-color: #c1c2c261;
$heading-text: #deb887;
$portfolio-item: #a3a3a3;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-table: 768px;

// //Gradient
@mixin gradient {
    background: linear-gradient(to right, rgba($body-color, 0.3), rgba($secondary-color, 0.09));
    
}