@import 'config';
@import './layouts/navbar';
@import './layouts/typography';
@import './layouts/intro';
@import './layouts/about';
@import './layouts/portfolio';
@import './layouts/contact';
@import './layouts/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1366px;
    width: 100%;
    margin: auto;
}
