@use 'navbar';
.navbar {
  padding: 0 2.5rem;
  box-shadow: 0px -60px 203px 0px #fb6914;
}

@media (max-width: 576px) {
  .navbar {
    padding: 0;
  }
}

.navbar li {
  padding: 0 2.5rem;
}

@media (max-width: 576px) {
  .navbar li {
    padding: 0;
  }
}

.navbar li a {
  text-transform: capitalize;
  font-weight: 400;
}

.navbar-toggler {
  border: none;
}

.navbar .nav-link {
  font-style: italic;
  color: #188cc5 !important;
  font-size: inherit;
}

.navbar .nav-link:hover {
  color: #fb6914 !important;
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: #188cc5;
}

.logo-img img {
  border: 1px solid #fb6914;
  opacity: .8;
  width: 100px;
  border-radius: 50px;
}

@use 'typography';
body {
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

body p {
  color: #969696;
}

@media (max-width: 576px) {
  body p {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  font-family: inherit;
  font-style: inherit;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  h4 {
    padding-top: 1rem;
  }
}

.list-group-item {
  font-size: 0.8rem;
}

.row-small-fs {
  font-size: 1rem;
}

@use 'intro';
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .hero {
    align-items: inherit;
  }
  .hero__img {
    width: 90%;
    display: flex;
    margin: auto;
  }
}

.hero__img {
  transition: transform 0.8s;
  margin: -9% -1%;
}

.hero__img:hover {
  transform: perspective(200px) rotateY(-1deg);
}

.hero__first-columm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__text {
  font-size: 2rem;
  color: #188cc5;
  text-transform: capitalize;
  line-height: 2.2rem;
}

@media (max-width: 576px) {
  .hero__text {
    font-size: 1.2rem;
  }
}

.hero__heading {
  color: #fb6914;
  white-space: nowrap;
  margin: 8px 0;
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .hero__heading {
    font-size: 1.3rem;
    margin-top: 25px;
  }
}

@use 'about';
.about {
  display: flex;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 576px) {
  .about {
    height: 100%;
  }
}

.about__first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__secound-column {
  text-align: left;
}

.about__third-column {
  font-family: 'Quicksand', sans-serif;
}

.about__heading {
  color: #188cc5;
}

.about__heading--text {
  color: #fb6914;
}

.about__img {
  width: 60%;
  border-radius: 50%;
  border: 2px solid #fb6914;
  transition: transform 0.8s;
  opacity: 0.9;
}

.about__img:hover {
  transform: perspective(200px) rotateY(-2deg);
}

.about__email {
  width: 20%;
  height: auto;
}

.about__get-in-touch {
  color: #a3a3a3;
  text-align: center;
}

.about__get-in-touch a {
  text-decoration: none;
}

.about__get-in-touch--align-middle {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: end;
}

.about__get-in-touch--align-middle p {
  color: #a3a3a3;
  white-space: nowrap;
}

.about .fas {
  color: #188cc5;
  font-size: 1.4rem;
  transition: transform 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@use 'portfolio';
.portfolio__card {
  background-color: #3a3f550d;
  border: none;
  box-shadow: 5px 14px 10px -14px #188cc5;
  transition-duration: .8s;
}

@media (max-width: 576px) {
  .portfolio__card {
    padding-top: 1rem;
  }
}

.portfolio__card:hover {
  transform: scale(1.02);
}

.portfolio__card-title {
  text-transform: capitalize;
  color: #188cc5;
}

.portfolio__card-title--skills {
  color: #a3a3a3;
  font-size: 0.8rem;
  font-family: 'Font Awesome 5 Brands, serif';
}

.portfolio__list {
  white-space: nowrap;
  overflow: scroll;
}

.portfolio__list--item {
  color: #a3a3a3;
  text-transform: capitalize;
  background: #a3a3a33b;
  border: 2px solid #fb6914;
}

.portfolio__link a {
  text-decoration: none;
}

.portfolio__heading {
  color: #188cc5;
}

.portfolio__heading--text {
  color: #fb6914;
}

.portfolio__button {
  background: #188cc5;
  border: none;
  width: 45%;
  white-space: nowrap;
  font-size: .8rem;
  margin-top: 10px;
  box-shadow: inset 0 0 0 0 #fb6914;
  transition: ease-out 0.4s;
}

.portfolio__button:hover {
  width: 45%;
  height: auto;
  color: #0a3348;
  background-color: #fb6914;
  box-shadow: inset 200px 0 0 0 #fb6914;
}

.portfolio__button--submit {
  width: auto;
}

.portfolio__button--submit:hover {
  width: auto;
}

.portfolio__button:focus {
  color: #fb6914;
  background-color: #fb6914;
  border-color: #565e64;
  box-shadow: 0 0 5px #188cc5;
}

.portfolio__button:active {
  box-shadow: 0 0 5px #188cc5;
  border-color: #188cc5;
  background-color: #fb6914;
}

.btn-secondary:active:focus {
  box-shadow: none;
}

@use 'contanct';
.contact {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 576px) {
  .contact {
    height: 100%;
  }
}

.contact__heading {
  color: #188cc5;
}

.contact__heading--text {
  color: #fb6914;
}

.contact__form__group--btn {
  background: #188cc5;
  border: none;
  white-space: nowrap;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .contact__form__group--btn {
    width: 100%;
  }
}

.contact__form__group--label {
  color: #969696;
}

.form-control {
  background-color: #3a3f550d;
  border: 1px solid #f3f1f2;
  box-shadow: 0px 0px 2px 0px #fb6914;
  transition: all .3s ease-in-out;
}

.form-control:focus {
  border: 1px solid #f3f1f2;
  box-shadow: 0px 0px 1px 0px #fb6914;
}

@use 'footer';
.footer__social-media {
  padding: 1.5rem !important;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 27px 20px -30px #f3f4f685;
}

.footer__icon {
  color: #188cc5;
  transition: .8s;
  font-size: 1rem;
}

.footer__icon:hover {
  color: #fb6914;
  transform: perspective(200px) rotateY(-20deg);
}

.footer__copyright {
  font-size: .8rem;
  color: #a3a3a3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #fdfbfb;
  color: #fb6914;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  margin: auto;
}

#hero,
#about,
#portfolio,
#contact {
  min-height: 100vh;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */