@use 'about';

.about {
    display: flex;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $breakpoint-small) { 
        height: 100%;
    }

    &__first-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading{
        color: $secondary-color;

        &--text {
            color: $heading-text;
        }
    }

    &__img {
        width: 60%;
        border-radius: 50%;
        border: 3px solid $heading-text;
    }

    &__get-in-touch {
        font-family: cursive;
    }

    .fas {
        color: $heading-text
    }
}