@use 'about';

.about {
	display: flex;
	height: 100vh;
	text-align: center;
	flex-direction: column;
	justify-content: center;

	@media (max-width: $breakpoint-small) {
		height: 100%;
	}

	&__first-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__secound-column {
		text-align: left;
	}

	&__third-column{
		font-family: cursive;
	}

	&__heading {
		color: $heading-text;

		&--text {
			color: $secondary-color;
		}
	}

	&__img {
		width: 60%;
		border-radius: 50%;
		border: 2px solid $heading-text;
		transition: transform 0.8s;
		opacity: 0.6;

		&:hover {
			transform: perspective(200px) rotateY(-2deg);
		}
	}

	&__email {
		width: 20%;
		height: auto;
	}

	&__get-in-touch {
		color: $portfolio-item;
		text-align: center;

		a {
			text-decoration: none;
		}

		&--align-middle {
			display: grid;
			justify-content: center;
			align-items: center;
			justify-content: center;
			align-items: end;	

			p {
				color: $portfolio-item;
				white-space: nowrap;
			}
		}

	}

	.fas {
		color: $heading-text;
		font-size: 1.4rem;
		transition: transform 0.8s;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

strong {
	color: $heading-text;
}
