@use 'contanct';

.contact {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $breakpoint-small) { 
        height: 100%;
    }

    &__heading{
        color: $heading-text;

        &--text {
            color: $secondary-color;
        }
    }

    &__form__group--btn {
        background: $heading-text;
        border: none;
        white-space: nowrap;
        margin-top: 10px;

        @media (max-width: $breakpoint-small) { 
            width: 100%;
        }
    }

    &__form__group--label {
        color: $heading-text;
    }
}

.form-control {
    color: #7b8285;
    background-color: $card-form-background-color;
    border: 1px solid $card-form-background-color;
    box-shadow: 0px 0px 3px 0px #f1e1a6;
    transition: all .3s ease-in-out;
    
    &:focus {
        color: #c5d1d8;
        background-color: #0c405a;
        border: 1px solid $card-form-background-color;
        box-shadow: 0px 0px 3px 0px #f1e1a6;
    }
}