@use 'footer';

.footer {
    &__social-media {
        padding: 1.5rem!important;
        display: flex;
        justify-content: space-evenly;
    }

    &__icon {
        color: $heading-text;
        transition: all .2s ease-in-out;


        &:hover {
            color: $button-hover;
            transform: scale(.9);
        }
    }

    &__copyright {
        font-size: .8rem;
        color: $portfolio-item;
    }
}
