@use 'footer';

.footer {
    &__social-media {
        padding: 1.5rem!important;
        display: flex;
        justify-content: space-evenly;
        box-shadow: 1px 27px 20px -30px #f3f4f685;
    }

    &__icon {
        color: $heading-text;
        transition: .8s;
        font-size: 1rem;

        &:hover {
            color: $button-hover;
            transform: perspective(200px) rotateY(-20deg);
        }
    }

    &__copyright {
        font-size: .8rem;
        color: $portfolio-item;
    }
}