@use 'intro';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 63px);  

    @media (max-width: $breakpoint-small) {
        height: 100%;
    }
    
    &__text{
        font-size: 2rem;
        color: $heading-text;
        text-transform: capitalize;

        @media (max-width: $breakpoint-small) {
            font-size: 1.1rem;
        }
    }

    &__heading{
        color: $secondary-color;
        white-space: nowrap;

        @media (max-width: $breakpoint-small) {
            font-size: 1rem;
        }
    }
}