@use 'intro';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    // height: calc(100vh - 63px);  

    @media (max-width: $breakpoint-small) {

        align-items: inherit;

        &__img {
            width: 90%;
            display: flex;
            margin: auto;
        }
    }

    &__img {
        transition: transform 0.8s;
    
        &:hover {
            transform: perspective(200px) rotateY(-1deg)
        }
    }
    

    &__first-columm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__text{
        font-size: 2rem;
        font-style: italic;
        color: $heading-text;
        text-transform: capitalize;

        @media (max-width: $breakpoint-small) {
            font-size: 1.2rem;
        }
    }

    &__heading{
        color: $secondary-color;
        white-space: nowrap;

        @media (max-width: $breakpoint-small) {
            font-size: 1.3rem;
            margin-top: 25px;
        }
    }


}