@use 'intro';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(100vh - 63px);  

    @media (max-width: $breakpoint-small) {
        &__img {
            padding-top: 20px;
        }
    }

    &__first-columm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__text{
        font-size: 2rem;
        color: $heading-text;
        text-transform: capitalize;

        @media (max-width: $breakpoint-small) {
            font-size: 1.1rem;
        }
    }

    &__heading{
        color: $secondary-color;
        white-space: nowrap;

        @media (max-width: $breakpoint-small) {
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }


}