@use 'navbar';

.navbar {
	padding: 0 2.5rem;
	box-shadow: 0px -60px 203px 0px $color;

	@media (max-width: $breakpoint-small) {
		padding: 0;
	}

	li {
		padding: 0 2.5rem;

		@media (max-width: $breakpoint-small) {
			padding: 0;
		}

		a {
			text-transform: capitalize;
			font-weight: 400;
		}
	}

	&-toggler {
		border: none;
	}

	.nav-link {
		font-style: italic;
		color: $heading-text !important;
		font-size: inherit;
		
		&:hover {
			color: $color !important;
			text-underline-position: under;
			text-decoration: underline;
			text-decoration-color: $heading-text;
		}
	}
}

.logo-img img {
	border: 1px solid $secondary-color;
    opacity: .8;
    width: 100px;
    border-radius: 50px;
}
