@use 'navbar';


.navbar {
    // @include gradient;

    padding: 0 2.5rem;

    @media (max-width: $breakpoint-small) {
        padding: 0;
    }

    li {
        padding: 0 2.5rem;
        
        @media (max-width: $breakpoint-small) {
            padding: 0;
        }

        a {
            text-transform: capitalize;
            font-weight: 400;
            color: $secondary-color;
        }
    }

    &-toggler {
        border: none;
    }
}