@use 'typography';

body {
	// @include gradient;
	line-height: 1.5rem;
	font-size: 1rem;
	// color: $secondary-color;
	font-family: 'Lato', sans-serif;
	background: #0c405a;

	p {
		font-style: inherit;
		color: $primary-color;
	}

	@media (max-width: $breakpoint-small) {
		p {
			font-size: 0.9rem;
		}
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;
	font-family: inherit;
	font-style: inherit;

	@media (max-width: $breakpoint-small) {
		padding-top: 1rem;
	}
}

.list-group-item {
	font-size: 0.8rem;
}

.row-small-fs {
	font-size: 1rem;
}
