@use 'typography';

h1,h2,h3,h4 {
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Source Serif Pro', serif;

    @media (max-width: $breakpoint-small) {
        padding-top: 1rem;
    }
}

.list-group-item {
    font-size: .8rem;
    
}
